header {
  background-color:#DEB887;
  color: pink;
  max-width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

.header-img {
  width:180px;
}

nav {
  display: inline;
  position: fixed;
  top: 0px;
  text-align: center;
  width: 100%;
background-color:#DEB887;}

a:link {
   text-decoration: none;
  color: pink;
}

a:visited {
  color: #e75480;
}

a:hover {
  color: gold;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  
}

.contact-us {
  height: 100px;
  color: red;
  background-color: #DEB887;
text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

.about-us {
  height: 380px;
  background-color: #DEB887;
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
}

.products {
  height:750px;
  width: 950px;
  background-image: url("https://i.imgur.com/hgGypw4.png");
}

footer {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

@media only screen and (orientation: landscape) {
  body {
    background-color: white;
  }
}